.loaderContainer {
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .glowAnimation {
    animation: pulse 2s ease-in-out infinite;
    filter: drop-shadow(0 0 20px #ffcc00);
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      filter: drop-shadow(0 0 5px #ffcc00);
    }
    50% {
      transform: scale(1.1);
      filter: drop-shadow(0 0 25px #ffd700);
    }
    100% {
      transform: scale(1);
      filter: drop-shadow(0 0 5px #ffcc00);
    }
  }
  