.loaderContainer {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoWrapper {
  width: 250px;
  height: 250px;
}

.animatedStroke {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 6.2rem;
  top: 15rem;
}

.strokePath {
  fill: none;
  stroke: white;
  stroke-width: 5;
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  animation: drawStroke 3s ease forwards;
}

@keyframes drawStroke {
  to {
    stroke-dashoffset: 0;
  }
}
